<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/checkout.css">
</head>
<body>
    <header>
        <a href="/">
            <img class="icon" src="https://csvcus.homeaway.com/rsrcs/cdn-logos/5.8.0/sitename/vrbo/web/logo.svg" alt="Vrbo">
        </a>
        <span>
            <svg data-id="SVG_QUESTION__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" stroke="none" fill-rule="evenodd" d="M13.02 16.747a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                <path stroke="currentColor" d="M2.7 12a9.3 9.3 0 1118.6 0 9.3 9.3 0 01-18.6 0z" clip-rule="evenodd"></path>
                <path stroke="currentColor" d="M9.406 9.464a2.612 2.612 0 113.566 2.434 1.5 1.5 0 00-.953 1.397v.307"></path>
            </svg>
            Help
        </span>
    </header>
</body>
</html>