<footer>
    <div id="footerIcon">
        <img src="https://csvcus.homeaway.com/rsrcs/cdn-logos/5.8.0/sitename/vrbo/web/logo.svg" alt="">
    </div>

    <div class="footeMain">
        <div id="footerLinks">
            <div>
                <h3>Explore Vrbo</h3>
                <span>List your property</span> <br>
                <span>Book with Confidence</span><br>
                <span>Trust & Safety</span><br>
                <span>Partner resources</span><br>
                <span>Vacation rental guides</span>
            </div>
            <div>
                <h3>Meet the Vrbo family</h3>
                <span>Vrbo</span> <br>
                <span>Abritel.fr</span><br>
                <span>FeWo-direkt.de</span><br>
                <span>Bookabach.co.nz</span> <br>
                <span>Stayz.com.au</span>
            </div>
            <div>
                <h3>Company</h3>
                <span>About</span> <br>
                <span>Career</span><br>
                <span>Affiliates</span><br>
                <span>Media Centet</span> <br>
                <span>Advertising</span>
            </div>
        </div>
        <div  class="footerforms">
            <div id="email">
                <h3>Get special offers, travel inspiration, and more from Vrbo</h3>
                <div>
                    <input placeholder="Email Address" type="text">
                    <button>Subscribe</button>
                </div>
            </div>
            <div id="phone">
                <h3>Get the Vrbo mobile app</h3>
                <div>
                    <select name="countryCode" id="">
                        <option data-countryCode="US" value="1" Selected>USA (+1)</option>
                            <option data-countryCode="GB" value="44" >UK (+44)</option>
                        <optgroup label="Other countries">
                            <option data-countryCode="IND" value="91">India (+91)</option>
                            <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                            <option data-countryCode="AD" value="376">Andorra (+376)</option>
                            <option data-countryCode="AO" value="244">Angola (+244)</option>
                        </optgroup>
                    </select>
                    <input placeholder="Your mobile phone number" type="Number">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="copyright">
        <div id="copyrightLeft">
            <p>© 2021 Vrbo, an <img alt="Expedia Group" src="https://csvcus.homeaway.com/rsrcs/cdn-logos/5.8.0/partners/expediagroup/wordmark.svg" width="110px"> company. All rights reserved.</p>
            <p style="color: #245abc;; font-weight: bold;">Terms and Conditions · Privacy Policy · Do Not Sell My Personal Information</p>
        </div>
        <div id="social">
            <div class="SiteFooterSocial__links">
                <a aria-label="facebook" class="SiteFooterSocial__link" href="http://facebook.com/VRBO" rel="noopener" target="_blank" title="facebook">
                    <span class="SVGIcon SVGIcon--24px SVGIcon--inline">
                        <svg data-id="SVG_FACEBOOK__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" viewBox="0 0 24 25">
                            <path fill="currentColor" stroke="none" d="M24 13a12 12 0 10-13.88 11.85v-8.38h-3V13h3v-2.64c0-3 1.8-4.67 4.54-4.67.898.012 1.793.09 2.68.23v3h-1.51a1.73 1.73 0 00-1.95 1.87V13h3.32l-.53 3.47h-2.79v8.38A12 12 0 0024 13z"></path>
                        </svg>
                    </span>
                </a>
                <a aria-label="instagram" class="SiteFooterSocial__link" href="http://instagram.com/vrbo" rel="noopener" target="_blank" title="instagram"
                >
                    <span class="SVGIcon SVGIcon--24px SVGIcon--inline">
                        <svg data-id="SVG_INSTAGRAM__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor" stroke="none" d="M3.87 7.75v8.4a3.88 3.88 0 003.88 3.88h8.5a3.88 3.88 0 003.88-3.88v-8.4a3.88 3.88 0 00-3.88-3.88h-8.5a3.88 3.88 0 00-3.88 3.88zm-1.84 0a5.73 5.73 0 015.72-5.72h8.5a5.73 5.73 0 015.73 5.72v8.4a5.73 5.73 0 01-5.73 5.72h-8.5a5.73 5.73 0 01-5.72-5.72v-8.4z"></path>
                            <path fill="currentColor" stroke="none" d="M12.03 17.28a5.251 5.251 0 110-10.502 5.251 5.251 0 010 10.502zm0-1.85a3.4 3.4 0 100-6.8 3.4 3.4 0 000 6.8zM17.33 7.92a1.27 1.27 0 100-2.54 1.27 1.27 0 000 2.54z"></path>
                        </svg>
                    </span>
                </a>
                <a aria-label="linkedin" class="SiteFooterSocial__link" href="http://linkedin.com/company/vrbo" rel="noopener" target="_blank" title="linkedin">
                    <span class="SVGIcon SVGIcon--24px SVGIcon--inline"><svg data-id="SVG_LINKEDIN__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" stroke="none" fill-rule="evenodd" d="M19.395 19.395h-3.12V14.52c0-1.155 0-2.655-1.62-2.655s-1.86 1.26-1.86 2.565v4.95H9.69V9.39h2.985v1.365h.03c.42-.78 1.44-1.62 2.955-1.62 3.15 0 3.735 2.085 3.735 4.785v5.49-.015zm-13.23-11.4a1.8 1.8 0 110-3.6 1.8 1.8 0 010 3.6zm1.56 11.4h-3.12V9.375h3.12v10.02zM21.63 1.5H2.37a.87.87 0 00-.87.87v19.26c0 .48.39.87.87.87h19.26c.48 0 .87-.39.87-.87V2.37a.87.87 0 00-.87-.87z" clip-rule="evenodd"></path></svg></span></a><a aria-label="pinterest" class="SiteFooterSocial__link" href="http://pinterest.com/vrbo" rel="noopener" target="_blank" title="pinterest"><span class="SVGIcon SVGIcon--24px SVGIcon--inline"><svg data-id="SVG_PINTEREST__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" stroke="none" fill-rule="evenodd" d="M12 1.5a10.5 10.5 0 00-3.825 20.28c-.142-1-.132-2.017.03-3.015l1.23-5.22S9.15 12.915 9.15 12c0-1.455.84-2.55 1.89-2.55.9 0 1.335.675 1.335 1.485 0 .9-.585 2.25-.87 3.495-.255 1.05.525 1.89 1.545 1.89 1.875 0 3.3-1.95 3.3-4.8 0-2.52-1.8-4.275-4.38-4.275-3 0-4.74 2.25-4.74 4.56 0 .9.345 1.86.78 2.4a.3.3 0 01.075.3l-.3 1.185c-.045.195-.15.24-.345.15-1.305-.615-2.13-2.55-2.13-4.08 0-3.3 2.4-6.345 6.93-6.345 3.645 0 6.48 2.595 6.48 6.06 0 3.615-2.28 6.525-5.445 6.525-1.065 0-2.07-.555-2.4-1.2l-.66 2.49c-.24.915-.885 2.055-1.305 2.76A10.501 10.501 0 1012 1.5z" clip-rule="evenodd"></path></svg></span></a><a aria-label="twitter" class="SiteFooterSocial__link" href="http://twitter.com/vrbo" rel="noopener" target="_blank" title="twitter"><span class="SVGIcon SVGIcon--24px SVGIcon--inline"><svg data-id="SVG_TWITTER__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" stroke="none" fill-rule="evenodd" d="M22.5 4.95c-.75.45-1.5.6-2.4.75.75-.6 1.5-1.5 1.8-2.4-.75.45-1.8.9-2.7 1.05a4.35 4.35 0 00-7.35 3.9 12.3 12.3 0 01-9-4.5 4.35 4.35 0 001.5 5.85c-.75 0-1.5-.3-1.95-.6 0 2.1 1.5 3.9 3.45 4.35a4.349 4.349 0 01-1.95 0c.45 1.65 2.1 3 4.05 3a8.7 8.7 0 01-6.45 1.8A12.15 12.15 0 0020.4 7.2c.75-.6 1.5-1.35 2.1-2.25z" clip-rule="evenodd"></path></svg></span></a><a aria-label="youtube" class="SiteFooterSocial__link" href="http://youtube.com/vrbo" rel="noopener" target="_blank" title="youtube"><span class="SVGIcon SVGIcon--24px SVGIcon--inline"><svg data-id="SVG_YOUTUBE__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" stroke="none" fill-rule="evenodd" d="M9.834 14.611v-5.9l5.676 2.959-5.676 2.94v.002zm12.462-6.924s-.204-1.447-.834-2.085c-.8-.837-1.695-.84-2.104-.889-2.94-.213-7.35-.213-7.35-.213H12s-4.41 0-7.35.213c-.41.048-1.305.053-2.105.89-.63.637-.833 2.085-.833 2.085S1.5 9.386 1.5 11.085v1.595c0 1.699.21 3.398.21 3.398s.206 1.448.834 2.085c.8.837 1.85.81 2.318.9 1.68.161 7.141.21 7.141.21s4.415-.006 7.355-.218c.409-.05 1.305-.055 2.104-.892.63-.637.834-2.085.834-2.085s.21-1.699.21-3.398v-1.595c0-1.7-.21-3.399-.21-3.399v.002z" clip-rule="evenodd"></path></svg></span></a>
            </div>
        </div>
    </div>
</footer>
<div id="Feedback" class="Feedback Feedback--bottom">
    <div aria-label="Feedback" aria-haspopup="true" aria-expanded="false" role="button" class="Feedback__tab btn btn-default">Feedback</div>
</div>