    <%- include('header', {title:"Vrbo | Book your vacation rentals : beach houses, cabins, condos & more", stylesheet:"css/index.css"}) %>
    <%- include('headmenu') %>

    <div class="poster" >
        <div id="bgclr">
            <div id="onPoster">
                <h1>
                    <span>Beach house? Condo? cabin?</span>
                    <br>
                    <span>Find the perfect vacation rental</span>
                </h1>
                <div class="search" >
                    <form action="list">
                        <input name="place" id="destination" placeholder="Search destination or property ID" type="text" required>
                        <span class="dateSpan">
                            
                            <input name="in" placeholder="Check-in" id="txtFromDate" type="text" >
                            <input name="out" placeholder="Check-out" id="txtToDate" type="text">
                        </span>
                        <input name="guests" placeholder="Guests" id="guests" type="number">
                       <input id="submitbtn" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mainBody">
        <div class="allCat" >
            <h2>Get inspired for a family trip</h2>
            <p>Book homes with space, convenience and amenities</p>
            <div id="allCat1">
                <!-- <a href=""></a> -->
                    <a href="list/?q=beach" class="allCat1" id="imgtxt">
                    
                        <span>
                            <p>On the beach</p>
                        </span>
                    </a>
                
                <div id="grid4" >
                    <a href="list/?q=pets" id="imgtxt1">
                        <span>
                            <p>Pets welcome</p>
                        </span>
                    </a>
                    <a href="list/?q=pool" id="imgtxt2">
                        <span>
                            <p>Swimming pools</p>
                        </span>
                    </a>
                    <a href="list/?q=beach" id="imgtxt3">
                        <span>
                            <p>Homes with free cancellation</p>
                        </span>
                    </a>
                    <a href="list/?q=beach" id="imgtxt4">
                        <span>
                            <p>More than 3 bedrooms</p>
                        </span>
                    </a>
                </div>
            </div>
            <br>
           <!-- <button onclick="hideDiv()">view more ideas</button> -->
            <div class="hidediv" id="allCat1">
                <div id="grid4" >
                    <a href="list/?q=outdooe" id="imgtxt5">
                        <span>
                            <p>Outdoor space</p>
                        </span>
                    </a>
                    <a href="list/" id="imgtxt6">
                        <span>
                            <p>On the water</p>
                        </span>
                    </a>
                    <a href="list" id="imgtxt7">
                        <span>
                            <p>Hot tubs</p>
                        </span>
                    </a>
                    <a href="list/?q=beach" id="imgtxt8">
                        <span>
                            <p>Near mountains</p>
                        </span>
                    </a>
                </div>
                <div class="allCat2" id="imgtxt">
                    <span>
                        <p>Cabins</p>
                    </span>
                </div>

            </div>
        </div>

        <div class="spacesStyle">
            <h2>Find spaces that suit your style</h2>
            <div id="spacesStyle">
                <div>
                    <div>
                        <img src="https://odis.homeaway.com/odis/destination/8621e10e-7950-41b4-814e-8817969887f4.carousel-m.jpg" alt="">
                        <span id="h2">House</span><br>
                        <span>View 342,285 houses</span>
                    </div>
                    <div>
                        <img src="https://odis.homeaway.com/odis/destination/397eabda-51d4-45d4-82c8-da3ad409ff84.carousel-m.jpg" alt="">
                        <span id="h2">Condos/Apartments</span><br>
                        <span>View 212,577 condos/apartments</span>
                    </div>
                    <div>
                        <img src="https://odis.homeaway.com/odis/destination/5941b1e0-2600-4b2a-b27e-c667abf7e510.carousel-m.jpg" alt="">
                        <span id="h2">Cabins</span><br>
                        <spanp>View 32,285 cabins</span>
                    </div>
                    <div>
                        <img src="https://odis.homeaway.com/odis/destination/ae891341-b7bb-4ae2-a1f8-7c8e53d16c4e.carousel-m.jpg" alt="">
                        <span id="h2">Studios</span> <br>
                        <span>View 32,285 studios</span>
                    </div>
                    <!-- <div>
                        <img src="https://odis.homeaway.com/odis/destination/adf45333-140a-40cf-987f-bc49b711c3d9.carousel-m.jpg" alt="">
                        <h2>Cottages</h2>
                        <p>View 42,205 cottages</p>
                    </div>
                    <div>
                        <img src="https://odis.homeaway.com/odis/destination/9af508c6-3dd9-453f-9a0d-8726a705328d.carousel-m.jpg" alt="">
                        <h2>Bungalows</h2>
                        <p>View 42,205 bungalows</p>
                    </div>
                    <div>
                        <img src="https://odis.homeaway.com/odis/destination/b7cb1fe3-5876-48a3-b9e4-c9b24d9f96b1.carousel-m.jpg" alt="">
                        <h2>Townhouses</h2>
                        <p>View 28,210 townhouses</p>
                    </div> -->
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="listProp">
            <div>
                <span>List your property on Vrbo and open your door to rental income</span>
                <br>
                <button>List your property</button>
            </div>
    </div>
    <br>
    <div class="about">
        <div>
            <span style="font-size: 22px;  font-weight: 500;">Discover what Vrbo is all about</span>
            <p>With over 2 million bookable vacation rentals, Vrbo connects homeowners with families and vacationers looking for something more than a hotel for their trip. The Vrbo community offers families an array of rental property types such as <span style="color : rgb(46, 46, 219); font-weight:bold;" >condos, cabins, lake rentals, beach houses,</span> and more. Discover properties in destinations that everyone dreams of visiting. All it takes is a quick Vrbo property search to securely book your next condo, cabin, or house anywhere in the world. If you're traveling with a large <span style="color : rgb(46, 46, 219); font-weight:bold;">group,</span> you can find rental homes on Vrbo that give you the space and comfort you need without sacrificing the amenities that matter most, all within your budget.</p>
        </div>
        <div>
            <span style="font-size: 22px; font-weight: 500;">Here’s what makes a vacation rental perfect for you</span>
            <p>Whether you're planning a <span style="color : rgb(46, 46, 219); font-weight:bold;" >family vacation</span> with your pet, a relaxing weekend getaway, or an adventurous excursion, vacation rentals are ideal for trips of all types. You can find everything from charming mountain cabins and lakeside lodges to breathtaking city apartments and luxury homes, or anything in between, all with an array of features to make your trip more comfortable and convenient. Staying in a vacation home, you'll enjoy amenities like extra bedrooms or a full kitchen with appliances, making it much easier to enjoy a stress-free trip with the family. You can also find vacation home rentals with additional features such as waterfront views, a private pool or hot tub, or outdoor entertainment space.</p>
        </div>
    </div>
<br>
 <!-- Footer -->
 <%- include('footer') %>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
    
    $( function() {
		$("#txtFromDate").datepicker({
	        numberOfMonths: 1,
	        minDate:0,
	        onSelect: function(selected) {
	          $("#txtToDate").datepicker("option","minDate", selected);
           $("#txtToDate").datepicker("setDate", '+1y');
	        }
	    });
        
	    $("#txtToDate").datepicker({ 
	        numberOfMonths: 1,
            minDate:0,
	        onSelect: function(selected) {
	           $("#txtFromDate").datepicker("option","maxDate", selected)
	        }
	    });  
	   
	});

    function hideDiv(){
        var x = document.getElementsByClassName("hidediv");
        console.log(55)
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>