<%- include('header', {title:"Vrbo", stylesheet:"css/list.css" }) %>

    <div id="myHeader" class="topSticky">
        <%- include('headmenu') %>
        <div class="search" >
            <form action="">
                <input id="destination" placeholder="Search destination or property ID" value="United States of America" type="text" required>
                <span class="dateSpan">
                    <input placeholder="Check-in" id="txtFromDate" type="text" >
                    <input placeholder="Check-out" id="txtToDate" type="text">
                </span>
                <input placeholder="Guests" id="guests" type="number">
               <input placeholder="Search" id="submitbtn" type="submit">
            </form>
        </div>
    </div>

    <div class="mainContent" >
        <div>
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="singleItem">
                <img src="https://media.vrbo.com/lodging/35000000/34010000/34003100/34003075/e32f4011.c6.jpg" alt="">
                <div id="singleTxt">
                    <div>
                        <span>Condo</span>
                        <br>
                        <span id="itemTitle">Oceanfront with balcony, steps to the beach ! Sea Forever at Ocean Walk Condos</span>
                        <br>
                        <span>Sleeps 6</span>
                    </div>
                    <div id="RatingPrice">
                        <p>⭐3.0</p>
                        <span>
                            <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                            <br>
                            <span id="pricespan">₹11,153 avg/night</span>
                        </span>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <%- include('footer') %>
        </div>
        <div id="MapImg">
          <img src="https://i.ibb.co/HhVxFv6/Screenshot-2021-12-16-201439.png" alt="">
        </div>
    </div>
    
    
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
    
    $( function() {
		$("#txtFromDate").datepicker({
	        numberOfMonths: 1,
	        minDate:0,
	        onSelect: function(selected) {
	          $("#txtToDate").datepicker("option","minDate", selected);
           $("#txtToDate").datepicker("setDate", '+1y');
	        }
	    });
        
	    $("#txtToDate").datepicker({ 
	        numberOfMonths: 1,
            minDate:0,
	        onSelect: function(selected) {
	           $("#txtFromDate").datepicker("option","maxDate", selected)
	        }
	    });  
	   
	});

    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }

</script>