<%- include('header', {title:"Vrbo | Book your vacation rentals : beach houses, cabins, condos & more", stylesheet:"css/single.css"}) %>
<%- include('headmenu') %>

    <div class="singleBody" >
        <div class="singleItem">
            <p>Location</p>
            <h2>Beachfront Luxury Condominium, My Happy Place!</h2>
            <div id="singleImages">
                <img id="img1" src="https://media.vrbo.com/lodging/35000000/34090000/34080400/34080368/21ef6ded.f10.jpg" alt="">
                <img id="img2" src="https://media.vrbo.com/lodging/35000000/34090000/34080400/34080368/421bc860.f10.jpg" alt="">
                <img id="img3" src="https://media.vrbo.com/lodging/35000000/34090000/34080400/34080368/fd291fab.f6.jpg" alt="">
                <img id="img4" src="https://media.vrbo.com/lodging/35000000/34090000/34080400/34080368/fd291fab.f6.jpg" alt="">
            </div>
            <h1>About this rental</h1>
            <div>
                <span>Category</span>
                <span>Area</span>
                <span>Bedrooms</span>
                <span>Spaces</span>
            </div>
            <div>
                <p>Come and enjoy real beachfront living! Located at the Sonoran Sky Resort, Unit 506, right on Sandy Beach in the beautiful fishing village of Puerto Penasco, Mexico. We are located just a short 4 hour drive from Phoenix, AZ. My condo is beautifully furnished and everything you need for a perfect vacation. The kitchen is well appointed should you decide to cook at home. There are two living areas, one on the terrace and one in the living room. There is a pub table for 2, and seating for 4 at the kitchen island. There is a Keurig and well as a regular coffee maker. Don't forget the coffee pods if you like a Keurig. I have not found them down here yet! The condo works wonderfully for entertaining. The master bedroom has a comfortable king size bed, and there is a hide-a-bed in the living room with an upgraded memory foam mattress. The amenities are top drawer, featuring 3 pools, swim-up bar, 3 hot tubs, and even a waterslide for the kids. You can belly-up at the beach-front Tiki Bar, or enjoy a sports bar with wall to wall televisions to watch multiple sporting events are the same time. There is also a fine-dining restaurant right on the beach. Stay in shape in the fully appointed gym, or enjoy the full-service spa! Most importantly, there are miles and miles of beautiful white sandy beaches to walk everyday! It truly is my happiest place on earth, and I am willing to share it with you and your family when I am not enjoying it myself. My condo is sanitized prior to your arrival PER COVID GUIDELINES! AT THIS TIME, YOU MUST BRING MASKS IF YOU ARE IN PUBLIC PLACES. If you have any questions at all, please feel free to contact me, and ENJOY!!</p>
            </div>

            <div>
                <h2>Policies</h2>
                <h3>Cancellation Policy</h3>
                <ul>
                    <li>100% refund if you cancel at least 30 days before check-in</li>
                    <li>50% refund (minus the service fee) if you cancel at least 14 days before check-in</li>
                    <li>No refund if you cancel less than 14 days before check-in</li>
                </ul>
            </div>
        </div>
        <div id="checkSticky" >
            <div>
                <span id="priceTxt">₹11,434</span> avg/night
            </div>
            <br>
            <h4>Add dates for total pricing</h4>
            <div id="singleForm">
                <span>
                    <input placeholder="Check In" type="text">
                    <input placeholder="Check Out" type="text">
                </span>
                <input placeholder="Guests" type="text">
            </div>
            <button><b>Request to Book</b></button>

            <p> <b>Free cancellation</b> up to <b style="color: rgb(45, 45, 214);" >30 days before check-in</b></p>
            <div id="centerTxt" >
                <hr style="width: 100%;">
                <b style="color: rgb(45, 45, 214);">Contact host</b>
                <hr style="width: 100%;">
                <p><b>Property</b> # 1273906</p>
            </div>
           
        </div>
    </div>
    <hr style="width: 100%;">
    <%- include('footer') %>
</body>
</html>