<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/single.css">

</head>
<body>
    <header>
        <a href="/">
            <img class="icon" src="https://csvcus.homeaway.com/rsrcs/cdn-logos/5.8.0/sitename/vrbo/web/logo.svg" alt="Vrbo">
        </a>
        <div style="float: right;">
            <span>
                <svg data-id="SVG_HEART__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" d="M12 6.707S13.487 4.1 16.625 4.1c2.738 0 4.625 2.243 4.625 4.907 0 3.764-3.939 6.063-9.25 10.893-5.311-4.83-9.25-7.129-9.25-10.893C2.75 6.343 4.637 4.1 7.375 4.1 10.513 4.1 12 6.707 12 6.707z" clip-rule="evenodd"></path>
                </svg>Trip Boards</span>
            <span><svg data-id="SVG_PERSON__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" d="M4.129 19.685a20.558 20.558 0 0011.884 1.17 20.558 20.558 0 003.858-1.17"></path><path stroke="currentColor" d="M11.907 11.906c-.992 0-2.002.19-2.976.595a7.777 7.777 0 00-4.802 7.184M12.093 11.906a7.78 7.78 0 017.778 7.778"></path><path stroke="currentColor" d="M15.982 7.837a4.07 4.07 0 01-4.07 4.07h-.01a4.07 4.07 0 01-4.068-4.07V6.82a4.07 4.07 0 014.069-4.069h.01a4.07 4.07 0 014.069 4.07v1.017z" clip-rule="evenodd"></path></svg>Login</span>
            
            <span><svg data-id="SVG_INVITE__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" d="M17.174 14.344v5.322M14.513 17.005h5.322M4.165 19.685a20.536 20.536 0 007.871 1.565M11.944 11.906a7.735 7.735 0 00-2.976.595 7.777 7.777 0 00-4.802 7.184"></path><path stroke="currentColor" d="M16.018 7.837a4.07 4.07 0 01-4.07 4.07h-.01a4.07 4.07 0 01-4.068-4.07V6.82a4.07 4.07 0 014.069-4.069h.01a4.07 4.07 0 014.069 4.07v1.017z" clip-rule="evenodd"></path></svg> Sign up </span>
    
            <span><svg data-id="SVG_QUESTION__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" stroke="none" fill-rule="evenodd" d="M13.02 16.747a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path><path stroke="currentColor" d="M2.7 12a9.3 9.3 0 1118.6 0 9.3 9.3 0 01-18.6 0z" clip-rule="evenodd"></path><path stroke="currentColor" d="M9.406 9.464a2.612 2.612 0 113.566 2.434 1.5 1.5 0 00-.953 1.397v.307"></path></svg>Help</span>
            <span> USD($)</span>
            <span> <img src="https://csvcus.homeaway.com/rsrcs-crs/baseline/5.16.0/images/flag/us.svg" alt=""> EN</span>
            <span style="margin-top:0px ;"> <button>List your Property</button></span>
        </div>
    </header>
    <div class="singleBody" >
        <div></div>
        <div id="checkSticky" >
            <div>
                <span id="priceTxt">₹11,434</span> avg/night
            </div>
            <br>
            <h4>Add dates for total pricing</h4>
            <div id="singleForm">
                <span>
                    <input type="text">
                    <input type="text">
                </span>
                <input type="text">
            </div>
            <button></button>
            <p> <b>Free cancellation</b> up to <b style="color: rgb(45, 45, 214);" >30 days before check-in</b></p>
            <div id="centerTxt" >
                <hr style="width: 100%;">
                <b style="color: rgb(45, 45, 214);">Contact host</b>
                <hr style="width: 100%;">
                <p><b>Property</b> # 1273906</p>
            </div>
           
        </div>
    </div>
    
</body>
</html>