body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header{
    padding: 5px 10px;
    /* border: 1px solid black; */
}
header .icon{
    margin: auto;
}
header svg{
    stroke-width : 1.5px;

}
header div > span{
    text-align: center;
    display: inline-flex;
    margin: 5px;
    padding: 1px 13px;
    text-decoration: none;
    font-weight: 500;
}
header div > span > button {
    border-radius: 25px;
    padding: 10px;
    /* align-items: center; */
    background-color: white;
    font-weight: bold;
}